*{
    list-style: none;
    margin: 0;
    padding: 0;
}
p{
    font-family: "Open Sans", sans-serif;
}
h1, h2, h3, h4, h5{
    font-family: "League Spartan", sans-serif;
}


.nav {
    display: flex;
    justify-content: center;
}
.navDiv{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(255, 255, 255);

    width: 80%;

    align-items: center;
    justify-content: center;
}
.navDivImg{
    text-align: center;
}
.navDivImg img{
    display: inline-block;
    height: 70px;
}
.navImg img:hover{
    cursor: pointer;
}

.navDiv i{
    font-size: 30px;
    margin-left: 15px;
    width: 30px;
    height: 30px;
}
.navDIv i:hover{
    cursor: pointer;
}

.navDivLista ul{
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 25px;
    font-weight: bold;
    gap: 30px;
}

  
.navDivLista li:hover {
    cursor: pointer;
    color: #d11653;
}



.navDivSeccionesHotMenu {
    left: -50%;
    top: 70px;
    background-color: rgb(0, 0, 0, 0.9);
    width: 20%;
    color: rgb(255, 255, 255);
    padding: 20px;
    transition: left 0.1s ease-in 0.1s;;
    position: fixed;
}

#hotMenuA:hover, #hotMenuC:hover{
    cursor: pointer;
}
#hotMenuC{
    display: none;
}


.navDivSeccionesHotMenu h3{
    font-size: 40px;
}

.navDivSeccionesHotMenu li{
    font-size: 25px;
    margin-top: 10px;
    transition: scale 0.1s ease-in;
}

.navDivSeccionesHotMenu a{
    text-decoration: none;
    color: white;
}

.navDivSeccionesHotMenu a:hover{
    cursor: pointer;
    color: #d11653;
    scale: 1.02;
}

.navDivSeccionesHotMenu i{
    font-size: 20px;
}

.hotMenuRedesH3{
    margin-top: 50PX;
    text-align: center;
}

.hotMenuRedes {
    display: flex;
    justify-content: space-between; 
    width: 50%;
    margin: 0 auto; 
}

.hotMenuRedes i {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 30px;
    border-radius: 50px;
    margin-top: 20px;
    width: 50px;
    height: 50px;
    margin-bottom: 30px;
    transition: scale 0.1s ease-in-out;
}
.hotMenuRedes i:hover{
    color: rgb(255, 255, 255);
    scale: 1.1;
    box-shadow: 4px 4px 8px rgba(255, 255, 255, 0.5), -4px 4px 8px rgba(255, 255, 255, 0.5);
}

#ig:hover{
    background-color: #405DE6;
}
#twitter:hover{
    background-color: #00acee;
}

.hrMenu{
    width: 80%;
    margin-left: 10%;
    margin-top: 50px;
    border-radius: 5px;
    height: 3px;
    border: none;
    background-color: rgb(255, 255, 255);
}




main{
    width: 80%;
    margin-left: 10%;
}

.secPrincipal{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 20, 20);
    color: rgb(255, 255, 255);
    padding: 50px;
}
.divNotPrincipal{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.divNotPrincipal img{
    object-fit: cover;
    width: 400px;
    height: 400px;
    display: flex;
    margin-left: auto;
    border-radius: 10px;
}
.divNotPrincipal div{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.divNotPrincipal h1{
    font-size: 45px;
}
.divNotPrincipal p{
    font-size: 20px;
}
.divNotPrincipal button{
    padding: 10px;
    background-color: #d11653;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    transition: scale 0.05s ease-in;
    width: 25%;
}
.divNotPrincipal button:hover{
    cursor: pointer;
    scale: 1.02;
}


.secPrincipal hr{
    margin: 50px 0;
    width: 90%;
    margin-left: 5%;
    height: 2px;
    border: none;
    background-color: rgb(138, 138, 138);
}


.divNotSecundarias{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.divNotSecundarias div:hover{
    cursor: pointer;
    scale: 1.005;
}
.divNotSecundarias img{
    width: 450px;
    height: 450px;
    object-fit: cover;
    display: flex;
    margin: 0 auto;
    border-radius: 10px;
}
.divNotSecundarias h2{
    font-size: 20px;
    margin-top: 20px;
}






.secNoticias{
    padding: 50px;
}

.noticiasTitulo{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20PX;
}
.noticiasTitulo i{
    font-size: 30px;
    color: #d11653;
}
.noticiasTitulo h2{
    font-size: 30px;
}

.noticia{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;
    width: 100%;
    
}

.noticia div{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: space-evenly;
    width: 100%;
    padding:  0 50px;
}
.noticia h2{
    font-size: 40px;
}
.noticia P{
    font-size: 20px;
    margin-top: 20px;
}
.noticia a{
    font-size: 20px;
    text-decoration: none;
    color: #d11653;
    margin-top: auto;
}

.noticia img{
    width: 400px;
    height: 400px;
    border-radius:  5px;
    margin-left: auto;
    margin-right: 50px;
    object-fit: cover;
    box-shadow: 4px 4px 8px rgb(0, 0, 0, 0.8), -4px 4px 8px rgb(0, 0, 0, 0.8);
}

.secNoticias hr{
    margin: 50px 0;
    height: 2px;
    border: none;
    background-color: rgb(138, 138, 138);
    object-fit: cover;
}





.secNosotros{
    background-image: url("fotos/fondo.webp");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 50px 0 50px 0;
    margin-top: 100px;
}
.divNosotros {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin-left: 10%;
    justify-content: center;
    align-items: center;
}

.divInfoNos {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    height: 100%;
    border-radius: 10px 0 0 10px;
    box-shadow:  -4px 4px 8px rgb(0, 0, 0, 0.5);
}
.divInfoNos h3{
    font-size: clamp(25px, 5vw, 40px);
}
.divInfoNos hr{
    width: 30%;
    background-color: #d11653;
    border: none;
    border-radius: 50px;
    height: 3px;
    margin-top: 10px;
}
.divInfoNos p{
    width: 70%;
    font-size: clamp(12px, 3vw, 20px);
    margin-top: 10px;
}
.divInfoNos button{
    background-color: #d11653;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 25px;
    width: 150px;
    margin-top: 20px;
    border: none;
}
.divInfoNos button:hover{
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}




.divForm {
    border-radius: 0 10px 10px 0;
    box-shadow: 4px 4px 8px rgb(0, 0, 0, 0.5);
    padding: 20px;
    background-color: rgb(0, 0, 0, 0.9);
    color: white;
    height: 100%;
}

.divForm h3 {
    font-size: clamp(25px, 5vw, 40px);
    text-align: center;
    color: white;
}

.divForm form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 10%;
}

.divForm form div{
    margin-top: 10px;
}
.nombreApellido{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}
.divForm label{
    font-size: clamp(15px, 3vw, 20px);
    color: white;
    margin: 0;
}
.divForm input{
    height: 20px;
    border: none;
    font-size: clamp(15px, 3vw, 20px);
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    margin-top: 5px;
}
#name, #surname{
    width: 90%;
}
#surname{
    margin-left: 10%;
}
.divForm textarea{
    height: 100px;
    border: none;
    font-size: 20px;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    margin-top: 5px;
}
.divForm hr{
    width: 30%;
    margin: auto;
    background-color: #d11653;
    border: none;
    border-radius: 5px;
    height: 3px;
    margin-top: 10px;
}
.divForm button{
    background-color: #d11653;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 25px;
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;
    border: none;
}
.divForm button:hover{
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.3);
}



.hrFooter{
    width: 80%;
    margin: 20px 0;
    margin-left: 10%;
    height: 2px;
    border: none;
    border-radius: 10px;
    background-color: rgb(138, 138, 138);
}

.secFooter{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px;
}

.divRedes img{
    width: 300px;
    height: auto;
    margin: 0 auto;
    display: flex;
}
.divRedes hr{
    width: 25%;
    height: 2px;
    border: none;
    background-color: #d11653;
    border-radius: 50px;
    margin: 10px 0;
    margin-left: 37.5%;
}
.linksFooter{
    font-size: 40px;
    text-align: center;
    text-decoration: none;
}
.linksFooter a{
    color: black;
}
.linksFooter i{
    padding: 10px;
    border-radius: 50px;
}
.linksFooter i:hover{
    scale: 1.1;
    background-color: none;
}

.divSeccionesFooter h2{
    font-size: 40px;
}
.divSeccionesFooter ul{
    margin-left: 50px;
    font-size: 25px;

}
.divSeccionesFooter a{
    text-decoration: none;
    color: black;
}
.divSeccionesFooter a:hover{
    color: #d11653;
}