*{
    list-style: none;
    margin: 0;
    padding: 0;
}
p{
    font-family: "Open Sans", sans-serif;
}
h1, h2, h3, h4, h5{
    font-family: "League Spartan", sans-serif;
}


.nav {
    display: flex;
    justify-content: center;
}
.navDiv{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(255, 255, 255);

    z-index: 100;
    width: 100%;
    align-items: center;
    height: 70px;

    top: 0;
    left: 0;
    position: fixed;
}
.navDivImg{
    text-align: center;
}
.navDivImg img{
    display: inline-block;
    height: 70px;
}
.navImg img:hover{
    cursor: pointer;
}

.navDiv i{
    font-size: 30px;
    margin-left: 15px;
    width: 30px;
    height: 30px;
}
.navDIv i:hover{
    cursor: pointer;
}

.navDivLista ul{
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 25px;
    font-weight: bold;
    gap: 30px;
    margin-right: 20px;
}

  
.navDivLista li:hover {
    cursor: pointer;
    color: #d11653;
}



.navDivSeccionesHotMenu {
    left: -150%;
    top: 70px;
    background-color: rgb(0, 0, 0, 0.9);
    width: 20%;
    color: rgb(255, 255, 255);
    padding: 20px;
    transition: left 0.1s ease-in 0.1s;;
    position: fixed;
}

#hotMenuA:hover, #hotMenuC:hover{
    cursor: pointer;
}
#hotMenuC{
    display: none;
}


.navDivSeccionesHotMenu h3{
    font-size: 40px;
}

.navDivSeccionesHotMenu li{
    font-size: 25px;
    margin-top: 10px;
    transition: scale 0.1s ease-in;
}

.navDivSeccionesHotMenu a{
    text-decoration: none;
    color: white;
}

.navDivSeccionesHotMenu a:hover{
    cursor: pointer;
    color: #d11653;
    scale: 1.02;
}

.navDivSeccionesHotMenu i{
    font-size: 20px;
}

.hotMenuRedesH3{
    margin-top: 50PX;
    text-align: center;
}

.hotMenuRedes {
    display: flex;
    justify-content: space-between; 
    width: 50%;
    margin: 0 auto; 
}

.hotMenuRedes i {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 30px;
    border-radius: 50px;
    margin-top: 20px;
    width: 50px;
    height: 50px;
    margin-bottom: 30px;
    transition: scale 0.1s ease-in-out;
}
.hotMenuRedes i:hover{
    color: rgb(255, 255, 255);
    scale: 1.1;
    box-shadow: 4px 4px 8px rgba(255, 255, 255, 0.5), -4px 4px 8px rgba(255, 255, 255, 0.5);
}

#ig:hover{
    background-color: #405DE6;
}
#twitter:hover{
    background-color: #00acee;
}

.hrMenu{
    width: 80%;
    margin-left: 10%;
    margin-top: 50px;
    border-radius: 5px;
    height: 3px;
    border: none;
    background-color: rgb(255, 255, 255);
}




main{
    width: 80%;
    margin-left: 10%;
    margin-top: 70px;
}

.secPrincipal{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 20, 20);
    color: rgb(255, 255, 255);
    padding: 50px;
}
.divNotPrincipal{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.divNotPrincipal img{
    object-fit: cover;
    width: 500px;
    height: 500px;
    height: 500px;
    width: 500px;
    display: flex;
    margin-left: auto;
    border-radius: 10px;
}
.divNotPrincipal div{
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.divNotPrincipal h1{
    font-size: 45px;
    margin-bottom: 20px;
}
.divNotPrincipal p{
    font-size: 20px;
}
.divNotPrincipal button{
    margin-top: 20px;
    padding: 10px;
    background-color: #d11653;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    transition: scale 0.05s ease-in;
    width: 30%;

}
.divNotPrincipal button:hover{
    cursor: pointer;
    scale: 1.02;
}


.secPrincipal hr{
    margin: 50px 0;
    width: 90%;
    margin-left: 5%;
    height: 2px;
    border: none;
    background-color: rgb(138, 138, 138);
}


.divNotSecundarias {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.divNotSecundarias div:hover {
    cursor: pointer;
    scale: 1.005;
}

.divNotSecundarias img {
    width: 350px;
    height: 350px; 
    object-fit: cover;
    display: flex;
    margin: 0 auto;
    border-radius: 10px;

}
.divNotSecundarias h2{
    font-size: 20px;
    margin-top: 20px;
}






.secNoticias{
    padding: 50px;
}

.noticiasTitulo{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20PX;
}
.noticiasTitulo i{
    font-size: 30px;
    color: #d11653;
}
.noticiasTitulo h2{
    font-size: 30px;
}

.noticia{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;

    justify-content: center;
    align-items: center;
}

.noticia div{
    margin: 0 ;
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: space-evenly;
    width: 90%;
    padding:  0 50px;
}
.noticia h2{
    font-size: 40px;
}
.noticia P{
    font-size: 20px;
    margin-top: 20px;
}
.noticia a{
    font-size: 20px;
    text-decoration: none;
    color: #d11653;
    margin-top: auto;
}

.noticia img{
    width: 400px;
    height: 400px;
    border-radius:  5px;
    margin-left: auto;
    margin-right: 50px;
    object-fit: cover;
    box-shadow: 4px 4px 8px rgb(0, 0, 0, 0.8), -4px 4px 8px rgb(0, 0, 0, 0.8);
}

.secNoticias hr{
    margin: 50px 0;
    height: 2px;
    border: none;
    background-color: rgb(138, 138, 138);
    object-fit: cover;
}





.secNosotros{
    background-image: url("fotos/fondo.webp");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 50px 0 50px 0;
    margin-top: 100px;
}
.divNosotros {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin-left: 10%;
    justify-content: center;
    align-items: center;
}

.divInfoNos {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    height: 100%;
    border-radius: 10px 0 0 10px;
    box-shadow:  -4px 4px 8px rgb(0, 0, 0, 0.5);
}
.divInfoNos h3{
    font-size: clamp(25px, 5vw, 40px);
}
.divInfoNos hr{
    width: 30%;
    background-color: #d11653;
    border: none;
    border-radius: 50px;
    height: 3px;
    margin-top: 10px;
}
.divInfoNos p{
    width: 70%;
    font-size: clamp(12px, 3vw, 20px);
    margin-top: 10px;
}
.divInfoNos button{
    background-color: #d11653;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 25px;
    width: 150px;
    margin-top: 20px;
    border: none;
}
.divInfoNos button:hover{
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}




.divForm {
    border-radius: 0 10px 10px 0;
    box-shadow: 4px 4px 8px rgb(0, 0, 0, 0.5);
    padding: 20px;
    background-color: rgb(0, 0, 0, 0.9);
    color: white;
    height: 100%;
}

.divForm h3 {
    font-size: clamp(25px, 5vw, 40px);
    text-align: center;
    color: white;
}

.divForm form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 10%;
}

.divForm form div{
    margin-top: 10px;
}
.nombreApellido{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}
.divForm label{
    font-size: clamp(15px, 3vw, 20px);
    color: white;
    margin: 0;
}
.divForm input{
    height: 20px;
    border: none;
    font-size: clamp(15px, 3vw, 20px);
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    margin-top: 5px;
}
#name, #surname{
    width: 90%;
}
#surname{
    margin-left: 10%;
}
.divForm textarea{
    height: 100px;
    border: none;
    font-size: 20px;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    margin-top: 5px;
}
.divForm hr{
    width: 30%;
    margin: auto;
    background-color: #d11653;
    border: none;
    border-radius: 5px;
    height: 3px;
    margin-top: 10px;
}
.divForm button{
    background-color: #d11653;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 25px;
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;
    border: none;
}
.divForm button:hover{
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.3);
}



.hrFooter{
    width: 80%;
    margin: 20px 0;
    margin-left: 10%;
    height: 2px;
    border: none;
    border-radius: 10px;
    background-color: rgb(138, 138, 138);
}

.secFooter{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px;
}

.divRedes img{
    width: 300px;
    height: auto;
    margin: 0 auto;
    display: flex;
}
.divRedes hr{
    width: 25%;
    height: 2px;
    border: none;
    background-color: #d11653;
    border-radius: 50px;
    margin: 10px 0;
    margin-left: 37.5%;
}
.linksFooter{
    font-size: 40px;
    text-align: center;
    text-decoration: none;
}
.linksFooter a{
    color: black;
}
.linksFooter i{
    padding: 10px;
    border-radius: 50px;
}
.linksFooter i:hover{
    scale: 1.1;
    background-color: none;
}

.divSeccionesFooter h2{
    font-size: 40px;
}
.divSeccionesFooter ul{
    margin-left: 50px;
    font-size: 25px;

}
.divSeccionesFooter a{
    text-decoration: none;
    color: black;
}
.divSeccionesFooter a:hover{
    color: #d11653;
}




.secNoticia hr{
    width: 100%;
    background-color: black;
    border: none;
    border-radius: 50px;
    height: 2px;
    margin-top: 10px;
}
.divTituloNoticia{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    padding: 40px;
    gap: 50px;
}
.divTituloNoticia img{
    width: 450px;
    height: 450px;
    margin-left: auto;

    border-radius: 10px;
    object-fit: cover;
    box-shadow: 4px 4px 8px rgb(0, 0, 0, 0.5),-4px 4px 8px rgb(0, 0, 0, 0.5);
}
.divTituloNoticia h3{
    font-size: 40px;
}
.divTituloNoticia p{
    font-size: 25px;
    margin-top: 30px;
}

.divNoticia{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 10%;
    padding: 40px;
    gap: 10px;
}
.divNoticia h4{
    font-size: 30px;
    margin-bottom: 20px;
}
.divNoticia p{
    font-size: 20px;
}
.divNoticia img{
    width: 400px;
    height: 400px;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 10px;
    object-fit: cover;
}


@media (min-width: 1600px) {
    .divNotSecundarias{
        margin-bottom: 40px;
    }
}
@media (max-width: 1600px) and (min-width: 1200px){

    .divNotPrincipal h1{
        font-size: 40px;
    }
    .divNotPrincipal p{
        font-size: 18px;
    }
    .divNotPrincipal button{
        font-size: 20px;
        width: 50%;
    } 
    .divNotPrincipal img{
        height: 450px;
        width: 450px;

    }

    .divNotSecundarias img {
        width: 300px;
        height: 300px; 
    }


    .noticia div{
        height: 300px;
    }
    .noticia h2{
        font-size: 35px;
    }
    .noticia P{
        font-size: 15px;
        margin-top: 20px;
    }
    .noticia a{
        font-size: 20px;
    }
    
    .noticia img{
        width: 300px;
        height: 300px;
    }


    .divTituloNoticia img{
        width: 400px;
        height: 400px;
    }
    .divTituloNoticia h3{
        font-size: 35px;
    }
    .divTituloNoticia p{
        font-size: 20px;
        margin-top: 30px;
    }

    .divNoticia{
        width: 80%;
        margin-left: 10%;
        padding: 40px;
        gap: 10px;
    }
    .divNoticia h4{
        font-size: 30px;
        margin-bottom: 20px;
    }
    .divNoticia p{
        font-size: 20px;
    }
    .divNoticia img{
        width: 400px;
        height: 400px;
    }
}

@media (max-width: 1200px) and (min-width: 900px){

    
    .divNotPrincipal {
        display: flex;
        flex-direction: column-reverse;
    }
    .divNotPrincipal img{
        margin-right: auto;
        width: 500px;
        height: 500px;
    }
    .divNotPrincipal h1{
        font-size: 35px;
    }
    .divNotPrincipal p{
        font-size: 20px;
    }
    .divNotPrincipal button{
        font-size: 20px;
        width: 50%;
    }
    .divNotPrincipal img{
        height: 350px;
        width: 350px;

    }
    .navDivLista ul{
        font-size: 20px;
        gap: 15px;
    }
    .navDiv i{
        width: 30px;
        height: 30px;
    }
    .navDivSeccionesHotMenu {
        width: 30%;
        left: -150%;
    }
    .hotMenuRedes i {
        font-size: 30px;
        border-radius: 50px;
        margin-top: 20px;
        width: 50px;
        height: 50px;
        margin-bottom: 30px;
        transition: scale 0.1s ease-in-out;
    }
    .divNotSecundarias{
        display: flex;
        flex-direction: column;
    }
    .divNotSecundarias img {
        width: 400px;
        height: 400px; 
    }
    .divNotSecundarias h2{
        text-align: center;
        font-size: 25px;
    }

    .noticia{
        display: flex;
        flex-direction: column-reverse;
    }
    
    .noticia div{
        height: 300px;
    }

    .noticia img{
        margin-right: auto;
        margin-top: 40px;
        margin-bottom: 40px;
        width: 450px;
        height: 450px;
    }


    .divTituloNoticia{
        gap: 10px;
    }
    .divTituloNoticia img{
        width: 350px;
        height: 350px;
    }
    .divTituloNoticia h3{
        font-size: 30px;
    }
    .divTituloNoticia p{
        font-size: 20px;
        margin-top: 15px;
    }

    .divNoticia{
        width: 80%;
        margin-left: 10%;
        padding: 40px;
        gap: 10px;
    }
    .divNoticia h4{
        font-size: 30px;
        margin-bottom: 20px;
    }
    .divNoticia p{
        font-size: 20px;
    }
    .divNoticia img{
        width: 400px;
        height: 400px;
    }
}

@media (max-width: 900px) and (min-width: 800px){

    .divNotPrincipal {
        display: flex;
        flex-direction: column-reverse;
    }
    .divNotPrincipal img{
        margin-right: auto;
        width: 500px;
        height: 500px;
    }
    .divNotPrincipal h1{
        font-size: 35px;
    }
    .divNotPrincipal p{
        font-size: 20px;
    }
    .divNotPrincipal button{
        font-size: 20px;
        width: 50%;
    }
    .divNotPrincipal img{
        height: 300px;
        width: 300px;
        margin-right: auto;
    }

    .divNotSecundarias{
        display: flex;
        flex-direction: column;
    }
    .divNotSecundarias img {
        width: 350px;
        height: 350px; 
    }
    .divNotSecundarias h2{
        text-align: center;
        font-size: 20px;
    }

    .noticia{
        display: flex;
        flex-direction: column-reverse;
    }
    
    .noticia div{
        height: 300px;
    }

    .noticia img{
        margin-right: auto;
        margin-top: 40px;
        margin-bottom: 40px;
        width: 450px;
        height: 450px;
    }


    .navDivLista ul{
        font-size: 20px;
        gap: 15px;
    }
    .navDiv i{
        width: 30px;
        height: 30px;
    }
    .navDivSeccionesHotMenu {
        width: 50%;
        left: -150%;
    }
    .hotMenuRedes i {
        font-size: 30px;
        border-radius: 50px;
        margin-top: 20px;
        width: 50px;
        height: 50px;
        margin-bottom: 30px;
        transition: scale 0.1s ease-in-out;
    }


    
    .divTituloNoticia{
        display: flex;
        flex-direction: column-reverse;
    }
    .divTituloNoticia img{
        width: 450px;
        height: 450px;
        margin-right: auto;
    }
    .divTituloNoticia h3{
        font-size: 35px;
    }
    .divTituloNoticia p{
        font-size: 25px;
        margin-top: 15px;
    }

    .divNoticia{
        width: 80%;
        margin-left: 10%;
        padding: 20px;
        gap: 10px;
    }
    .divNoticia h4{
        font-size: 28px;
        margin-bottom: 20px;
    }
    .divNoticia p{
        font-size: 18px;
    }
    .divNoticia img{
        width: 350px;
        height: 350px;
    }
}
    

@media (max-width: 800px) and (min-width: 500px){
    main{
        width: 100%;
        margin-left: 0;
    }
    .divNotPrincipal {
        display: flex;
        flex-direction: column-reverse;
    }
    .divNotPrincipal img{
        height: 375px;
        width: 375px;
        margin-right: auto;
    }
    .divNotPrincipal h1{
        font-size: 35px;
    }
    .divNotPrincipal p{
        font-size: 20px;
    }
    .divNotPrincipal button{
        font-size: 20px;
        width: 50%;
    }

    .divNotSecundarias{
        display: flex;
        flex-direction: column;
    }
    .divNotSecundarias img {
        width: 400px;
        height: 400px; 
    }
    .divNotSecundarias h2{
        text-align: center;
        font-size: 20px;
    }


    .noticia{
        display: flex;
        flex-direction: column-reverse;
    }
    
    .noticia div{
        height: 300px;
    }

    .noticia img{
        margin-right: auto;
        margin-top: 40px;
        margin-bottom: 40px;
        width: 425px;
        height: 425px;
    }

    .navDiv{
        width: 100%;
    }
    .navDivLista ul{
        font-size: 20px;
        gap: 15px;
    }
    .navDiv i{
        width: 30px;
        height: 30px;
    }
    .navDivSeccionesHotMenu {
        width: 80%;
        left: -150%;
    }
    .hotMenuRedes i {
        font-size: 30px;
        border-radius: 50px;
        margin-top: 20px;
        width: 50px;
        height: 50px;
        margin-bottom: 30px;
        transition: scale 0.1s ease-in-out;
    }



    .divTituloNoticia{
        display: flex;
        flex-direction: column-reverse;
        width: 80%;
        margin-left: 10%;
        padding: 0;
        margin-bottom: 50px;
        margin-top: 100px;
    }
    .secNoticia hr{
        width: 80%;
        margin-left: 10%;
    }
    .divTituloNoticia img{
        width: 425px;
        height: 425px;
        margin-right: auto;
    }
    .divTituloNoticia h3{
        font-size: 30px;
    }
    .divTituloNoticia p{
        font-size: 20px;
        margin-top: 15px;
    }

    .divNoticia{
        width: 80%;
        margin-left: 10%;
        padding: 15px;
        gap: 10px;
    }
    .divNoticia h4{
        font-size: 25px;
        margin-bottom: 20px;
    }
    .divNoticia p{
        font-size: 15px;
    }
    .divNoticia img{
        width: 300px;
        height: 300px;
    }

}
@media (max-width: 500px) and (min-width: 300px){
    main{
        width: 100%;
        margin-left: 0;
        margin-top: 70px;
    }
    
    .divNotPrincipal{
        display: flex;
        flex-direction: column-reverse;
        padding: 20px;
    }
    .divNotPrincipal img{
        height: 275px;
        width: 275px;
        margin-right: auto;
    }
    .divNotPrincipal h1{
        font-size: 32px;
    }
    .divNotPrincipal p{
        font-size: 17px;
    }
    .divNotPrincipal button{
        font-size: 15px;
        width: 50%;
        margin-left: 25%;
    }

    
    .divNotSecundarias{
        display: flex;
        flex-direction: column;
    }
    .divNotSecundarias img {
        width: 275px;
        height: 275px; 
    }
    .divNotSecundarias h2{
        text-align: center;
        font-size: 20px;
    }


    .noticia{
        display: flex;
        flex-direction: column-reverse;
    }
    
    .noticia div{
        height: 300px;
    }

    .noticia img{
        margin-right: auto;
        margin-top: 40px;
        margin-bottom: 40px;
        width: 250px;
        height: 250px;
    }

    .noticia h2{
        font-size: 30px;
    }
    .noticia P{
        font-size: 15px;
        margin-top: 20px;
    }
    .noticia a{
        font-size: 20px;
    }


    .navDiv{
        display: flex;
        flex-direction: row;
        height: 70px;
        width: 100%;
        justify-content: space-between;
    }
    .navDivLista ul{
        font-size: 20px;
        gap: 15px;
        
    }
    .navDiv i{
        width: 30px;
        height: 30px;
    }
    .navDivSeccionesHotMenu {   
        width: 100%;
    }
    .hotMenuRedes i {
        font-size: 30px;
        border-radius: 50px;
        margin-top: 20px;
        width: 50px;
        height: 50px;
        margin-bottom: 30px;
        transition: scale 0.1s ease-in-out;
    }
    .navDivImg{
        display: none
    }



    .divTituloNoticia{
        display: flex;
        flex-direction: column-reverse;

        padding: 20px;
        margin-bottom: 50px;
        margin-top: 100px;
    }
    .secNoticia hr{
        width: 80%;
        margin-left: 10%;
    }
    .divTituloNoticia img{
        width: 275px;
        height: 275px;
        margin-right: auto;
    }
    .divTituloNoticia h3{
        font-size: 25px;
    }
    .divTituloNoticia p{
        font-size: 15px;
        margin-top: 15px;
    }

    
    .divNoticia{
        width: 90%;
        margin-left: 5%;
        padding: 0;
        gap: 10px;
        margin-top: 50px;
    }
    .divNoticia h4{
        font-size: 25px;
        margin-bottom: 20px;
    }
    .divNoticia p{
        font-size: 15px;
    }
    .divNoticia img{
        width: 275px;
        height: 275px;
    }
}